---
---

@import "{{ site.theme }}";

.wrapper {
  text-align: right;
  direction: rtl;
}

header > ul {
  display: none;
}

pre.highlight {
  margin-left: initial;
  margin-right: -60px;
  text-align: left;
  direction: ltr;
}
